ShoppingClient/Connected Services/ShoppingServiceReference/ShoppingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoppingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56830/ShoppingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56830/ShoppingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56830/ShoppingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShoppingWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShoppingService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetAProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAProduct" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetAProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetProductsGreaterThanOrEqualToPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsGreaterThanOrEqualToPrice" />
  </wsdl:message>
  <wsdl:message name="IShoppingService_GetProductsGreaterThanOrEqualToPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsGreaterThanOrEqualToPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IShoppingService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetAllProducts" message="tns:IShoppingService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetAllProductsResponse" message="tns:IShoppingService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetAProduct" message="tns:IShoppingService_GetAProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetAProductResponse" message="tns:IShoppingService_GetAProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/AddProduct" message="tns:IShoppingService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/AddProductResponse" message="tns:IShoppingService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/EditProduct" message="tns:IShoppingService_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/EditProductResponse" message="tns:IShoppingService_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/DeleteProduct" message="tns:IShoppingService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/DeleteProductResponse" message="tns:IShoppingService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsGreaterThanOrEqualToPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingService/GetProductsGreaterThanOrEqualToPrice" message="tns:IShoppingService_GetProductsGreaterThanOrEqualToPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingService/GetProductsGreaterThanOrEqualToPriceResponse" message="tns:IShoppingService_GetProductsGreaterThanOrEqualToPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShoppingService" type="tns:IShoppingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAProduct">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetAProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsGreaterThanOrEqualToPrice">
      <soap:operation soapAction="http://tempuri.org/IShoppingService/GetProductsGreaterThanOrEqualToPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingService">
    <wsdl:port name="BasicHttpBinding_IShoppingService" binding="tns:BasicHttpBinding_IShoppingService">
      <soap:address location="http://localhost:56830/ShoppingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>